<div *ngIf="!data" class="text-center pt-5">
    กรุณาเลือกสัญญา
</div>
<div class="row" *ngIf="data">
    <div class="col mt-2">
        <h2>ข้อมูลบังคับคดี</h2>
    </div>
    <div class="col mt-2 text-end">
        <button (click)="openManageModal()" mat-raised-button color="primary">เพิ่มข้อมูลคดี</button>
    </div>
</div>
<div class="container" *ngIf="data">
    <div class="row">
        <div class="col mt-2 mb-4">
            <table class="mat-table mat-elevation-z8" style="width: 98%;">
                <tr class="mat-header-row">
                    <th class="mat-header-cell">หมายเลขคดีดำ / แดง</th>
                    <th class="mat-header-cell">สินทรัพย์</th>
                    <th class="mat-header-cell">ชื่อทนายความ</th>
                    <th class="mat-header-cell">ทุนทรัพย์ฟ้อง</th>
                    <th class="mat-header-cell">วันที่นำคำบังคับ</th>
                    <th class="mat-header-cell">ผู้รับผิดชอบ</th>
                    <th class="mat-header-cell">วันที่ยื่นฟ้อง</th>
                    <th class="mat-header-cell">วันเวลาที่นัดสืบ</th>
                    <th class="mat-header-cell">ศาลที่นัดสืบ</th>
                    <th class="mat-header-cell"></th>
                </tr>
                <tr class="mat-row" *ngFor="let law of lawList">
                    <td class="mat-cell">{{ law.documentNumber }}</td>
                    <td class="mat-cell">{{ law.typeName }}</td>
                    <td class="mat-cell">{{ law.lawyerName }}</td>
                    <td class="mat-cell">{{ law.capitalSuedPay | number : '1.2-2' }}</td>
                    <td class="mat-cell">{{ law.typeName }}</td>
                    <td class="mat-cell">{{ law.dateOfIntroduction }}</td>
                    <td class="mat-cell">{{ law.responsible }}</td>
                    <td class="mat-cell">{{ law.filingDate }}</td>
                    <td class="mat-cell">{{ law.InvestigationDate }}</td>
                    <td class="mat-cell">{{ law.court }}</td>
                    <td class="mat-cell">
                        <button (click)="openManageModal(law)" mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="onDelete(law)" mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<mat-dialog-actions class="mb-4" align="end">
    <button mat-raised-button color="warn" mat-dialog-close="true">ปิด</button>&nbsp;
</mat-dialog-actions>