<div class="row">
    <div class="col-11">
        <mat-form-field appearance="legacy">
            <mat-label>ค้นหา</mat-label>
            <input [(ngModel)]="searchTxt" (keyup)="search()" type="text" matInput placeholder="กรุณากรอกชื่อหรือรหัสบัตรประชาชน">
        </mat-form-field>
    </div>
    <div class="col-1 text-end">
        <button (click)="openAddCustomer()" mat-icon-button color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<mat-action-list>
    <ng-container *ngFor="let customer of customerList;">
        <button (click)="onSelect(customer)" mat-list-item> {{ customer.title + customer.fname + " " + customer.lname }}  </button>
        <mat-divider></mat-divider>
    </ng-container>
</mat-action-list>