<div class="row">
    <div class="col">
        <mat-form-field appearance="legacy">
            <mat-label>สืบทรัพย์ภูมิลำเนา/ข้างเคียง</mat-label>
            <input [(ngModel)]="property.domicileProperty" type="text" matInput placeholder="สืบทรัพย์ภูมิลำเนา">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="legacy">
            <mat-label>สำนักงานจังหวัดที่ดินที่สืบ</mat-label>
            <input [(ngModel)]="property.provincialOffice" type="text" matInput placeholder="สำนักงานจังหวัดที่ดินที่สืบ">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="legacy">
            <mat-label>วันสืบทรัพย์เขตภูมิลำเนา</mat-label>
            <input [(ngModel)]="property.dateSearch" matInput [matDatepicker]="dateSearch">
            <mat-datepicker-toggle matSuffix [for]="dateSearch"></mat-datepicker-toggle>
            <mat-datepicker #dateSearch></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="legacy">
            <mat-label>ผลสืบภูมิลำเนา พบ/ไม่พบทรัพย์</mat-label>
            <input [(ngModel)]="property.result" type="text" matInput placeholder="ผลสืบภูมิลำเนา พบ/ไม่พบทรัพย์">
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="legacy">
            <mat-label>รายละเอียดทรัพย์สิน</mat-label>
            <input [(ngModel)]="property.detail" type="text" matInput placeholder="รายละเอียดทรัพย์สิน">
        </mat-form-field>
    </div>
</div>

<div class="text-end">
    <button mat-raised-button color="warn" mat-dialog-close="true">ปิด</button>&nbsp;
    <button mat-raised-button color="accent" (click)="onClear()">เคลียร์</button>&nbsp;
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>บันทึก</button>
</div>